/**
 * by:        Per Thykjaer Jensen
 * fíle:      xmasBy.css
 * purpose:   create xmas vibes
 **/
p:nth-child(even)::before {
  content: url('xmas/bells.png');
}

p:nth-child(odd)::before {
  content: url('xmas/candygold.png');
}

h3::before {
  content: url('xmas/snowman2.png');
}

h2:nth-child(even)::before {
  content: url('xmas/wreath1.png');
}

h2:nth-child(odd)::before {
  content: url('xmas/xtree1.png');
}
